Checks: >
  -*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,
  -readability-isolate-declaration,
  -modernize-macro-to-enum

WarningsAsErrors: '*'

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 65
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: 4
  - key: readability-identifier-length.IgnoredLoopCounterNames
    value: '^(i|j|k|x|y)$'
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2

HeaderFilterRegex: '^(?!.*stb_image).*'
